.dev-icons {
  padding-left: 0;
  list-style: none;
  font-size: 3rem;
  margin-bottom: 0px;
  margin-top: 0px;
  text-align: center;
}

.github-project-languages-inline {
  display: inline-block;
  margin-right: 20px;
  margin-bottom: 20px;
  font-family: "Google Sans Regular";
}

.github-project-languages-inline > i {
  color: #868e96;
}

.github-project-languages-inline > i:hover {
  color: #645beb;
}