.github-project-main {
  display: flex;
  margin-top: 100px;
}

.github-project-text {
  font-size: 20px;
}

.github-project-text {
  margin-left: 50px;
  font-family: "Google Sans Regular";
}

.github-project-main > * {
  flex: 1;
  margin-bottom: 30px;
}

.github-project-image {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-content: center;
}

.github-project-image > img {
  justify-self: center;
  align-self: center;
  max-width: 100%;
  height : auto;
  margin-top: 100px + 5%;
  transition: transform .2s ease-in-out;
}

.github-project-image:hover > img {
  transform: scale(1.05);
}

.github-project-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  margin-bottom: 30px;
}

.github-project-detail-text,
.github-project-detail-text-inner {
  font-size: 20px;
  line-height: 30px;
  margin-top:0px;
  margin-left: 20px;
  margin-right: 20px;
  font-family: "Google Sans Medium";
  text-align: justify;
}

.github-project-detail-text-inner {
  padding-left: 20px;
}

/* Media Query */
@media (max-width: 1380px) {
  .github-project-heading {
    font-size: 40px;
  }
  .github-project-header {
    font-size: 50px;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .github-project-main {
    margin-top: 20px;
  }

  .github-project-heading {
    font-size: 30px;
    text-align: center;
  }
  .github-project-header {
    font-size: 30px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .github-project-main {
    flex-direction: column;
  }
  .github-project-text {
    margin-left: 0px;
    margin: 20px;
  }
  .github-project-text {
    font-size: 16px;
  }
  .github-project-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .github-project-image {
    /* display: none; */
    order: 2;
  }
  .github-project-image > img {
    margin-top: 0px;
  }
}

